<!DOCTYPE html>
<html>
    <head>
        <title>sar viewer</title>
    </head>
    <body>
        <div id="graph"><p>GRAPH</p></div>
        <div id="data"><p>DATA</p></div>
    </body>
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="static/js/app.js"></script>
</html>