<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/styles.css">
        <title>tunez</title>
    </head>
    <nav id="navbar" class="navbar">
    </nav>
    <body>
        <div id="player" class="player">
            <div id="visualizer" class="visualizer">VIZUALIZER</div>
            <div id="search" class="search">SEARCH</div>
            <div id="songlist" class="songlist">SONGLIST</div>
        </div>
        <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>